{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block extra_js %}
<script>
(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = 'https://connect.facebook.net/it_IT/sdk.js#xfbml=1&version=v3.1&appId=406513689514538&autoLogAppEvents=1';
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript">
var fbButton = document.getElementsByClassName("fb-like")[0];
fbButton.dataset.href = window.location.href;
</script>
<script type="text/javascript">

console.log('init');
'use strict';

const RE_SELECTOR = /([.#]?[^\s#.]+)/;

const WHATSAPP_API_PROTOCOL = 'whatsapp://send';
const WHATSAPP_API_URL = 'https://api.whatsapp.com/api/send';

const defaults = {
  enableIf: /android|iphone|ipad/i,
  protocolIf: /android|iphone|ipad/i,
  uaString: window.navigator.userAgent,
  openCallback: null,
  elementCallback: null,
  newNodeSelector: 'a.whatsapp-link',
};

function checkIfCallback(value, config) {
  if (value instanceof RegExp) {
    return value.test(config.uaString);
  }

  if (typeof value === 'function') {
    return value();
  }

  return !!value;
}

function assign(target) {
  for (let i = 1; i < arguments.length; i += 1) {
    if (arguments[i]) {
      Object.keys(arguments[i]).forEach(key => {
        target[key] = arguments[i][key];
      });
    }
  }

  return target;
}

function buildLink(config, baseURI) {
  const params = [];

  Object.keys(config).forEach(prop => {
    if (config[prop]) {
      params.push(`${prop}=${encodeURIComponent(config[prop])}`);
    }
  });

  return `${baseURI}${params.length ? `?${params.join('&')}` : ''}`;
}

function setupLink(node, newEl, config) {
  const baseURI = checkIfCallback(config.protocolIf, config)
    ? WHATSAPP_API_PROTOCOL
    : WHATSAPP_API_URL;

  const options = {
    text: node.dataset.whatsappMessage,
    phone: node.dataset.whatsapp,
  };

  if (newEl.tagName === 'A') {
    newEl.href = buildLink(options, baseURI);
  }

  if (typeof config.elementCallback === 'function') {
    config.elementCallback(node, params => {
      if (typeof params === 'string') {
        params = { text: params };
      }

      const url = buildLink(assign({}, options, params), baseURI);
      const open = config.openCallback || window.open;

      open(url);
    });
  }
}

function makeEl(config) {
  const parts = config.newNodeSelector
    .split(RE_SELECTOR)
    .filter(Boolean);

  const target = document.createElement(parts[0]);

  for (let i = 1; i < parts.length; i += 1) {
    if (parts[i]) {
      if (parts[i].charAt() === '.') {
        target.classList.add(parts[i].substr(1));
      }

      if (parts[i].charAt() === '#') {
        target.id = parts[i].substr(1);
      }
    }
  }

  return target;
}

function append(node, config) {
  const newEl = makeEl(config);
  const body = node.innerHTML;

  node.innerHTML = '';
  node.appendChild(newEl);

  newEl.innerHTML = body;

  setupLink(node, newEl, config);
}

function init(options) {
  const config = assign({}, defaults, options);
  const isEnabled = checkIfCallback(config.enableIf, config);

  if (isEnabled) {
    const matchedElements = document.querySelectorAll('[data-whatsapp]');

    for (let i = 0; i < matchedElements.length; i += 1) {
      append(matchedElements[i], config);
    }
  }
}

init();
</script>
{% endblock%}
{% block content %}
<div id="fb-root"></div>

<div id="wrapper" class="clearfix">
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div id="portfolio" class="portfolio grid-container portfolio-1 clearfix">
                    <article class="portfolio-item pf-media pf-icons clearfix">
                        <div class="portfolio-image">
                            {% image image.image original as photo %}
                            <img src="{{ photo.url }}" alt="Open Imagination">
                        </div>
                        <div class="portfolio-desc">
                            <h3>
                                <a> {{ image.image.title }}</a>
                            </h3>
                            <span>
                                <a>{{ image.caption }}</a>
                            </span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, quaerat beatae nulla debitis
                                vitae temporibus enim sed. Optio, reprehenderit, ex.</p>

                            <ul class="iconlist">
                                <li>
                                    <i class="icon-ok"></i>
                                    <strong>taglia:</strong> S, L, XL</li>
                                <li>
                                    <i class="icon-ok"></i>
                                    <strong>Sesso:</strong> Uomo, donna</li>
                                <li>
                                    <i class="icon-ok"></i>
                                    <strong>collezione:</strong> estate</li>
                            </ul>
                            <div class="fb-like" data-href="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                            <a data-whatsapp="5210000000000" data-whatsapp-message="Salve, vorrei info riguardo {{ image.image.title }}" style="color:white;background-color: #34AF23"class="button button-3d button-rounded">WhatsAppami</a>
                            <span data-whatsapp="5210000000000">Reach me via WhatsApp!</span>


                        </div>
                    </article>
                </div>
                <!-- #portfolio end -->
            </div>
    </section>
    <!-- #content end -->
</div>
{% endblock %}