#logo img {
    max-height: 80px;
    margin-top: 10px;
}

#logo {
    margin-left: 25px;
}

.menu-c {
    padding: unset !important;
}

#header.full-header #primary-menu>ul {
    border-right: unset;
}
#header.full-header #primary-menu>ul.show {
    display: block;
}

.sticky-header {
    #logo img {
        height: 40px !important;
    }
}

@media only screen and (max-width:991px)  {
    #primary-menu {
        margin-right: 5%
    }
    #logo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
        align-items: center;

        img {
            margin-top: unset;
            order: 0;
            flex: 0 1 auto;
            align-self: auto;
            max-height: 60px;
        }
    }
}

@media only screen and (min-width: 1690px) {
    #primary-menu {
        margin-right: 20%
    }

}
@media only screen and (max-width: 1689px) and (min-width:1515px) {
    #primary-menu {
        margin-right: 15%
    }
}
@media only screen and (max-width:1514px) and (min-width:1121px) {
    #primary-menu {
        margin-right: 5%
    }
}